#about {
  border-radius: 3px;
  margin-top: 12rem;
  min-height: 25vh;
  width: 80vw;
  border: 2px solid $secondaryGreen;
  border-radius: $cardBorderRadius;
  box-shadow: $cardBoxShadow;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: -2;
  #avatar {
    @include svg("../images/avatar.svg", 150px, 150px);
    position: absolute;
    top: 2rem;
    justify-self: center;
  }

  .card-top {
    width: 100%;
    flex: 1;
    min-height: 5rem;
    max-height: 6rem;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%231bc29e' fill-opacity='0.56'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-bottom: 1px lightgray solid;
  }

  #heading {
    text-align: center;
    font-size: $cardFontSize;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}

@media (min-width: 620px) {
  #heading {
    max-width: 70%;
  }
}

@media (min-width: 1200px) {
  #about {
    width: 55vw;
    margin-bottom: 1rem;
    margin-top: 15rem;

    #avatar {
      top: 3rem;
      height: 200px;
      width: 200px;
    }
  }
  #heading {
    max-width: 70%;
    h2 {
      font-size: 2.5rem;
    }
  }
}
