#bio {
  @include sectionFlexBox();
  h1 {
    font-size: $mainHeaderMobile;
    @include sectionHeader();
  }
  .headline-underline {
    @include headlineUnderline();
  }
  .bio-container {
    width: 90%;
    .bio-text {
      max-width: 40rem;
      line-height: 2.2rem;
      font-size: 1.8rem;
      text-align: left;
      letter-spacing: 0.2px;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      font-size: 1.8rem;
      padding: 0.2rem 0;
    }
    li:before {
      padding-right: 1rem;
      content: "🐶";
    }
    li:nth-child(2):before {
      content: "🐉";
    }
    li:nth-child(3):before {
      content: "🏂🏼";
    }
  }
}

@media (min-width: 620px) {
  #bio {
    width: 90%;
    .bio-container {
      width: 100%;
      p.bio-text {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media (min-width: 1200px) {
  #bio {
    width: 80%;
    h1 {
      font-size: 3.5rem;
    }
  }
}
