footer {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  border-top: 2px solid $secondaryGreen;
  color: white;
  background-color: $primaryBlue;
  justify-content: center;
  font-size: 1.3rem;
}
