main {
  position: absolute;
  top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  width: 100%;
  :focus {
    outline: none;
  }
  h1 {
    justify-self: center;
  }
}
