$cardBorderRadius: 3px;
$cardBoxShadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$cardFontSize: 1.3rem;
$primaryBlue: #4383a3;
$secondaryGreen: #1bc29e;
$mainHeaderMobile: 2.5rem;
$purple: #ae43a6;
$projectName: 2rem;
$projectInfo: 1.8rem;
