@import "variables";
@import "mixins";
@import "../node_modules/normalize-scss/sass/normalize/import-now";
@include normalize();
@import "nav";

//General Styles

body,
html {
  font-size: 10px;
  height: 100%;
  width: 100%;
}

//Body Grid

body {
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-columns: 1fr;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
