@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
@import "variables";
@import "mixins";
@import "../node_modules/normalize-scss/sass/normalize/import-now";
@include normalize();
@import "nav";
@import "main";
@import "about";
@import "bio";
@import "skills";

//General Styles

body,
html {
  font-size: 10px;
  height: 100%;
  width: 100%;
  font-family: "Karla", sans-serif;
  text-rendering: optimizeLegibility;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
